<nav class="navbar navbar-toggleable-sm navbar-light fixed-top bg-faded">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#asc-navbar"
            aria-controls="asc-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand p-0" href="/"><img src="img/logo.svg" style="height: 2em;" ></a>
        <div class="collapse navbar-collapse" id="asc-navbar">
            <ul class="navbar-nav mr-auto">
                {% assign nav_items = site.pages | where_exp:"item", "item.order > 0" | sort: 'order' %} {% for item in nav_items %}
                <li class="nav-item text-center{% if page.title == item.title %} active{% endif %}{% if item.navMode == 'dropdown'' %} dropdown{% endif %}">
                    {% if item.navMode == 'item'' %}
                    <a class="nav-link" href="{{ item.permalink }}">{{ item.title }} {% if page.title == item.title %}<span class="sr-only">(current)</span>{% endif %}</a>
                    {% else %}
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ item.title }} {% if page.title == item.title %}<span class="sr-only">(current)</span>{% endif %}</a>
                        <div class="dropdown-menu">
                           {% include {{ item.dropdownInclude }} %}
                        </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
